// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*[class^='target-'] { 
	transition: all 0.15s ease-out;
	-webkit-transition: all 0.15s ease-out;
}

#search_field {
	width: 350px;
}

select[name=sorting] {
	margin-left: 190px;
	width: 175px;
	font: initial;
	font-size: 0.8em;
}

#map {
	height: 300px;
	width: 400px;
	float: right;
	// position: relative;
	// top: -420px;
}

#new_review {
	select, label {
		display: none;
	}
}

#filters {
	label {
		display: inline-block;
		margin-left: 20px;
	}
	input {
		width: 30px;
	}
	input[name=min_price], input[name=max_price] {
		width: 50px;
	}
	#reset_filters {
		margin-left: 20px;
	}
}

#results {
	overflow: auto;

	.search-result {
		width: 300px;
		float: left;
		margin: 0px 10px 20px;
		line-height: normal;

		.listing-images {
			position: relative;
			overflow: hidden;
			height: 300px;
			width: 300px;
			border-radius: 150px;

			.listing-images-container {
				position: absolute;
				left: -50px;
				height: inherit;
				width: 3000px;
				background-image: image-url("apartments/default.jpg");
				background-size: auto 300px;

				-webkit-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;

				img {
					float: left;
					height: inherit;
				}
			}

			.listing-favorite {
				display: block;
				position: absolute;
				top: 0px;
				-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box; 
				box-sizing: border-box;
				width: inherit;
				padding: 15px 10px 10px;
				text-align: center;

				.off-star {
					background-position: 0 35px;
					&:hover {
						background-position: 0px 70px;
					}
				}

				.favo {
					cursor: pointer;
					display: inline-block;
					width: 35px;
					height: 35px;
					background-size: 35px;
					background-image: image-url("icons/favorite.png");
				}

				a {
					display: inline-block;
					width: 35px;
					height: 35px;
					background-size: 35px;

					&.not-favorited {
						background-image: image-url("icons/favorite.png");
						background-position: 0px 35px;

						&:hover {
							background-image: image-url("icons/favorite.png");
							background-position: 0px 70px;
						}
					}

					&.favorited {
						background-image: image-url("icons/favorite.png");
						background-position: 0px 0px;
					}
				}
			}

			.listing-price {
				display: block;
				position: absolute;
				bottom: 0px;
				-moz-box-sizing: border-box; 
				-webkit-box-sizing: border-box; 
				box-sizing: border-box;
				width: inherit;
				padding: 25px 10px 10px;
				text-align: center;
				font-size: 2em;
				background-color: rgba(0, 0, 0, 0);
				background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
				color: #FFF;

				.currency:before {
					content: "$";
					font-size: 0.5em;
					vertical-align: text-top;
				}
			}

			&:hover *[class^='target-'] {
				background-color: rgba(255, 192, 203, 0.2);
			}

			*[class^='target-'] {
				display: block;
				position: absolute;
				top: 0px;
				height: inherit;
				cursor: pointer;

				&:hover {
					background-color: rgba(255, 192, 203, 0.4);
				}

				&.target-view {
					left: 20%;
					width: 60%;
					background-color: rgba(255, 192, 203, 0);
				}

				&.target-prev {
					left: 0px;
					width: 20%;
				}

				&.target-next {
					right: 0px;
					width: 20%;
				}
			}
		}
		.listing-footer {
			min-height: 185px;
			padding: 10px 0;
			text-align: center;

			.listing-title {
				font-size: 2em;
				font-family: 'Rokkitt', serif;
				margin: 8px 0px 5px;
				
				a {
					display: inline-block;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.listing-rooms {
				> * {
					display: inline;
				}

				.listing-bedrooms {
					margin-right: 6px;
				}
			}
			.listing-rating {
				div[class^='rating-'] {
					width: 144px;
					height: 28px;
					margin: 0 auto;
					background-image: url(/images/icons/stars.png);
				}
				.rating-0 {
					background-position: -10px 231px;
				}
				.rating-1 {
					background-position: -10px 193px;
				}
				.rating-2 {
					background-position: -10px 153px;
				}
				.rating-3 {
					background-position: -10px 114px;
				}
				.rating-4 {
					background-position: -10px 75px;
				}
				.rating-5 {
					background-position: -10px 36px;
				}
			}
		}
	}
}

.actions {
	display: inline-block;
	margin-right: 30px;
}
.favorite {
	display: inline-block;
	vertical-align: top;

	.off-star {
		background-position: 0 35px;
		&:hover {
			background-position: 0px 70px;
		}
	}

	#favo {
		cursor: pointer;
		display: inline-block;
		width: 35px;
		height: 35px;
		background-size: 35px;
		background-image: image-url("icons/favorite.png");
	}

	a {
		display: inline-block;
		width: 35px;
		height: 35px;
		background-size: 35px;

		&.not-favorited {
			background-image: image-url("icons/favorite.png");
			background-position: 0px 35px;

			&:hover {
				background-image: image-url("icons/favorite.png");
				background-position: 0px 70px;
			}
		}

		&.favorited {
			background-image: image-url("icons/favorite.png");
			background-position: 0px 0px;
		}
	}
}

.photos {
	margin: 30px 0px 20px;

	img {
		max-width: 550px;
	}
}

.rating-info {
	margin-bottom: 20px;
	overflow: auto;

	& > div {
		float: left;
	}

	.rating-count {
		line-height: 28px;
		margin-left: 15px;
	}
}
.rating {

	div[class^='rating-'] {
		width: 144px;
		height: 28px;
		background-image: url(/images/icons/stars.png);
	}
	.rating-0 {
		background-position: -10px 231px;
	}
	.rating-1 {
		background-position: -10px 193px;
	}
	.rating-2 {
		background-position: -10px 153px;
	}
	.rating-3 {
		background-position: -10px 114px;
	}
	.rating-4 {
		background-position: -10px 75px;
	}
	.rating-5 {
		background-position: -10px 36px;
	}
}

.price {
	margin-bottom: 15px;
}

.details {
	> div {
		margin-bottom: 15px;
	}
}

.reviews {
	// width: 600px;
	overflow: auto;

	.review {
		overflow: auto;
		margin-bottom: 25px;

		.reviewer {
			float: left;

			.reviewer-image {
				overflow: hidden;
				height: 75px;
				width: 75px;
				border-radius: 75px;
				background: #CCC image-url('profile-default.png');
				background-size: 75px 75px; 

				img {
					width: 100%;
					min-height: 100%;
				}
			}
		}
		.callout {
			min-height: 100px;
			width: 510px;
			background-color: #444;
			position: relative;
			color: #E0E0E0;
			padding: 10px;
			border-radius: 3px;
			float: left;
			margin-left: 15px;

			&::before {
				content: "";
				width: 0px;
				height: 0px;
				border: 0.8em solid transparent;
				position: absolute;
				// callout arrow
				left: -20px;
				top: 30px;
				border-right: 10px solid #444;
			}
			.review-description {
				margin: 15px 0px 20px;
			}
			.reviewer-name {
				font-size: 0.8em;
				margin-bottom: 8px;
			}
			.review-updated {
				font-size: 0.8em;
			}
			.actions {
				position: absolute;
				bottom: 10px;
				right: 10px;
				margin-right: 0;
			}
		}
	}
}

@media handheld, only screen and (max-width: 1000px), only screen and (max-device-width: 1000px) {
    /* max content width on mobile devices */
    #map {
    	display: block;
    	width: 100%;
		position: static;
		top: 0px;
	}
}