// Place all the styles related to the Apartments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search_field {
	width: 300px;
}

select[name=sorting] {
	margin-left: 175px;
}

#filters {
	label {
		display: inline-block;
		margin-left: 20px;
	}
	input {
		width: 20px;
	}
	input[name=min_price], input[name=max_price] {
		width: 50px;
	}
}

.apartments {
	.price {
		text-align: right;
	}
	.rating {
		text-align: right;
	}
}
